<p>
  <strong>Name:</strong>
  <%= @employee.Name %>
</p> 
<p>
  <strong>Project:</strong>
  <%= @employee.Project %>
</p>
<p>
  <strong>Team_lead:</strong>
  <%= @employee.Team_lead %>
</p>
<p>
  <strong>Skill_number:</strong>
  <%= @employee.Skill_number %>
</p>
<td><%= link_to 'Back', welcome_index_path() %></td>